body {
    font-family: Cedarville cursive;
    margin: 0;
}

/* header stuff here */

header {
    background-color:rgb(225, 193, 255);
    margin: 0;
    text-align: center;
    color: blueviolet;
}

/* nav stuff here*/

nav {
    background-color: rgb(201, 240, 255);
}

nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}

nav {
    display: block;
    padding: .83rem .83rem;
    text-decoration: none;
    font-size: 1.1rem;
    color:  rgb(0, 45, 247);
    font-weight: 700;
}

nav ul li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color:  rgb(0, 45, 247);;
}

nav a:hover{
    color: white
}

/*main stuff here*/

main {
    padding: 1rem 15px;
}

main div classes-paragraphs {
    font-size: 20pt;
}

main h2 {
    font-size: 30pt;
    text-align: center;
}

main .classes-paragraphs {
    display: flex;
}

main .classes-paragraphs p {
    width: 50%;
}

/*iamges stuff*/

div.images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

div.images figure {
    margin: 0; 
}

div.images figcaption {
    text-align: center;
    font-size: 0.8rem;
    color:   rgb(0, 45, 247);
}

.myform fieldset {
    border: 1px solid rgb(0, 45, 247);
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: 
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}

.myform label, .myform select, .myform [type=text], .myform [type=tell], .myform textarea{
    display: block;
}

.myform [type=text], .myform [type=tel], .myform select, .myform textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 200;
}

.myform textarea {
    height: 6rem;
}

.myform :required {
    background-color: rgb(245, 235, 253);
}

.myform [type=submit] {
    background-color: rgb(201, 240, 255);
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
}