body {
    font-family: Cedarville cursive;
    margin: 0;
}

/* header stuff here */

header {
    background-color:rgb(225, 193, 255);
    margin: 0;
}

/* nav stuff here*/

nav {
    background-color: rgb(201, 240, 255);
}

nav ul{
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    flex: flex;
}